<%- layout('layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/stylesheets/error.css">

    <div class="row py-3">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%= err.message %></h4>
                <% if(process.env.NODE_ENV !== 'production') { %>
                    <p class="text-break"><%= err.stack %></p>
                <% } %>
                
            </div>
        </div>
    </div>