<%- layout('layouts/boilerplate') %>

    <div class="mt-3">

        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
                <div class="card shadow">
                    <img class="card-img-top" src="https://images.unsplash.com/photo-1496545672447-f699b503d270?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Register</h4>
                        <form action="/register" class="needs-validation" method="POST" novalidate>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" id="username" aria-describedby="username" autofocus required>
                                <div class="invalid-feedback">
                                    Please provide a username.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" id="email"
                                    aria-describedby="email" required>
                                <div class="invalid-feedback">
                                    Please provide a email.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="password" aria-describedby="password" required>
                                <div class="invalid-feedback">
                                    Please provide a password.
                                </div>
                            </div>
                            <button class="btn btn-success w-100 my-2 py-2">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>